In [94]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [95]:
diamonds_train = pd.read_csv('outputs/df_train.csv')
diamonds_train_price = pd.read_csv('outputs/df_train_price.csv')
diamonds_predict=pd.read_csv('outputs/df_test.csv')
submit=pd.read_csv('inputs/sample_submission.csv')

In [96]:
diamonds_train.head()

,carat,cut_numeric,color_numeric,clarity_numeric,depth,table,x,y,z
0,-1.051355,-0.810564,0.352161,-0.033632,0.736126,-0.650176,-1.283716,-1.236438,-1.180531
1,-0.966764,0.982588,0.940769,-0.641579,0.596363,-1.097476,-1.132102,-1.080061,-1.039596
2,-0.839879,-0.810564,1.529377,-0.641579,-1.010919,2.033618,-0.918059,-0.854183,-0.969129
3,-0.839879,0.086012,-0.825055,0.574315,0.037308,0.781181,-0.900222,-0.862870,-0.870475
4,0.217504,-0.810564,1.529377,-0.641579,-0.521746,2.480917,0.330526,0.344710,0.271096

In [97]:
diamonds_predict.head()

,carat,cut_numeric,color_numeric,clarity_numeric,depth,table,x,y,z
0,3.267015,0.978152,-1.416151,-1.232414,-0.666318,-1.554540,2.620734,2.539800,2.446736
1,2.596725,0.978152,-0.830504,-1.232414,0.168508,-0.658049,2.175567,2.234832,2.230593
2,-0.608098,0.978152,-1.416151,-0.627731,-0.040199,-1.554540,-0.495431,-0.491942,-0.492811
3,-1.047976,0.978152,-1.416151,-0.627731,-0.318474,-0.658049,-1.261117,-1.263332,-1.285335
4,0.334497,-2.592365,-0.830504,-0.023048,4.899190,-0.658049,0.332578,0.216660,0.890505

# Split train and test

In [98]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(diamonds_train, diamonds_train_price, test_size=0.01)

In [99]:
X_train.head()

,carat,cut_numeric,color_numeric,clarity_numeric,depth,table,x,y,z
8260,-0.501516,-0.810564,0.940769,-0.641579,0.736126,0.065502,-0.418625,-0.367676,-0.306736
9994,-0.987912,0.982588,-0.236447,-0.033632,0.736126,-1.544775,-1.167776,-1.158250,-1.081877
12815,-0.818731,0.982588,0.352161,-0.033632,0.386717,-0.202877,-0.873466,-0.828120,-0.800007
20812,-1.178241,-0.810564,0.352161,1.182263,-2.618200,1.139020,-1.462085,-1.401503,-1.631522
29980,-0.586107,0.086012,0.352161,-0.033632,0.526481,0.244422,-0.498891,-0.524053,-0.447671

In [100]:
y_test.shape

(405, 1)

# GaussianNB

In [101]:
from sklearn.naive_bayes import GaussianNB

In [104]:
gnb = GaussianNB()

In [105]:
y_pred = gnb.fit(X_train, y_train).predict(X_test)

/home/must4in3/anaconda3/lib/python3.7/site-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [106]:
y_test_gNB = y_test.copy()
y_test_gNB['y']= y_pred

In [107]:
y_test_gNB['Price-y'] = abs(y_test_gNB['price']- y_test_gNB['y'])
y_test_gNB.describe()

              price             y      Price-y
count    405.000000    405.000000   405.000000
mean    4199.116049   4169.244444   748.330864
std     4224.003249   4083.306104  1218.883629
min      367.000000    367.000000     0.000000
25%      982.000000    955.000000   124.000000
50%     2623.000000   2787.000000   287.000000
75%     5724.000000   5755.000000   817.000000
max    18729.000000  18795.000000  8708.000000